@import "../../styles/scss/base";
@import "../../styles/scss/animation";
@import "../../styles/scss/mixin";

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 6rem;
  border-bottom: 2px solid rgba($color-dark-text, 0.1);

  @include respond(phone) {
    padding: 0 3rem;
  }

  & h1 {
    font-size: 2rem;
  }

  & p {
    font-size: 1.6rem;
    margin-left: 1rem;
    font-weight: 600;
  }
}

.toggleLight {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $color-dark-text;
  }
}

.day_logo {
  height: 2rem;
  width: 2rem;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 3rem 6rem;

  @include respond(tablet) {
    padding: 3rem 4rem;
  }

  @include respond(tablet) {
    padding: 2rem 2.5rem;
  }
}

.bg-light {
  background-color: $color-light-bg;
  color: $color-dark-text;
  animation: fadeBackgroundWhite 0.3s ease-in;
}

.bg-dark-head {
  background-color: $color-dark-el;
  color: $color-light-text;
  animation: fadeBackgroundEl 0.3s ease-in;
}

.bg-dark-body {
  background-color: $color-dark-bg;
  color: $color-light-text;
  animation: fadeBackgroundDark 0.3s ease-in;
}

.bg_white {
  background-color: #fff;
  color: $color-dark-text;
  animation: fadeBackgroundWhite 0.3s ease-in;
}
