$color-dark-el: hsl(209, 23%, 22%); //Dark Blue (Dark Mode Elements)
$color-dark-bg: hsl(207, 26%, 17%); //Very Dark Blue (Dark Mode Background)
$color-dark-text: hsl(200, 15%, 8%); //Very Dark Blue (Light Mode Text)
$color-light-input: hsl(0, 0%, 52%); //Dark Gray (Light Mode Input)
$color-light-bg: hsl(0, 0%, 98%); //Very Light Gray (Light Mode Background)
$color-light-text: hsl(
  0,
  0%,
  100%
); //White (Dark Mode Text & Light Mode Elements)

$font-display: "Nunito Sans", sans-serif;
